body {
    font-family: "Raleway";
}
div.container {
    width: 100%;
    flex-direction: column;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
h1, h2, h3, ul, figure {
    margin: 0px;
}
h1, h2, .aside-top p {
    font-size: 22.1px;
}
button, 
figcaption, 
.text-input-field > input, 
.filter, .accommodations > p {
    font-weight: 700;
}
.star-on, 
nav a:hover, 
.filter i, 
.info i, 
.accommodations > p a:hover, 
.aside-top a:hover, 
footer a:hover {
    color: #0065fc;
}
.star-off {
    color: #d9d9d9;
}
.text-input-field span, 
.filter label:hover > span + span, 
.accommodations, 
aside, 
footer {
    background-color: #f2f2f2;
}
.flex {
    display: flex;
}

/* header */

header {
    width: 93%;
    margin-top: 50px;
    padding: 0 50px;
}
.header-top {
    justify-content: space-between;
}
nav {
    margin-top: -50px;
}
nav a {
    display: block;
    width: 160px;
    height: 60px;
    text-align: center;
    line-height: 105px;
    border-top: solid 5px transparent;
}
nav a:hover {
    border-color: #0065fc;
}
.logo {
    margin: -8px 20px;
}
.logo img {
    width: 50%;
}
div.look-for-form {
    padding-left: 5px;
    margin-top: 47px;
}
h1 + p {
    margin-top: 10px;
}
.text-input-field {
    font-size: 18px;
}
.text-input-field span {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    margin-top: -2px;
    border-radius: 20px 0px 0px 20px;
}
.text-input-field > input {
    border: solid 2px #f2f2f2;
    height: 46px;
    width: 220px;
    padding: 0px 0px 0px 15px;
    margin-left: -5px;
}
.text-input-field input:focus {
    outline: none;
}
button.desktop-version {
    height: 50px;
    margin-left: -5px;
    padding: 0px 20px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    background-color: #0065fc;
    color: white;
}
button.mobile-version {
    display: none;
}
button:hover {
    background-color: #3283fc;
    cursor: pointer;
}


.filter {
    margin: 30px 10px;
    font-size: 19px;
}
.filter-legend {
    display: inline-block;
    margin: 0 30px 20px 0;
}
.filter-button {
    display: inline-block;
    margin: 0;
}
.filter input {
    position: absolute;
    opacity: 0;
}
.filter input:checked + label > span + span {
    background-color: #0065FC;
    color: white;
}
.filter label {
    display: inline-block;
    margin: 0px 20px 20px 0;
}
.filter label > span {
    display: inline-block;
    position: relative; 
    vertical-align: middle;
    border-radius: 32px;
}
.filter label > span + span {
    height: 48px;
    line-height: 48px;
    padding: 0px 20px 0px 56px;
    margin-left: -50px;
    border: solid 2px #d8d8d8;
    z-index: 0;
}
.filter label > span + span::first-letter {
    text-transform: uppercase;
}
.filter label > span:first-child {
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background-color: #deebff;
    z-index: 1;
}
label:hover {
    cursor: pointer;
}


.info i, .info span {
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
}
.info i {
    border: solid 2px #f2f2f2;
    border-radius: 16px;
}
.info span {
    margin-left: 10px;
}

/* main */

main {
    margin-top: 10px;  
}
div.main-top {
    gap: 40px;
    padding: 0 50px;
}
.card {
    background-color: white;
    border-radius: 20px;
}
p.price {
    font-size: 14px;
}
p.rate {
    font-size: 11px;
}

/* accommodations section */

.accommodations {
    padding: 0 40px 40px;
    border-radius: 20px;
    flex-basis: 66%;
}
.accommodations h2 {
    margin-top: 50px;
}
.accommodations-content {
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 30px;
}
.accommodations-content a {
    flex-basis: 30%;
    flex-grow: 1;
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
.accommodations-content a:hover {
    margin: -5px 5px 5px -5px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.4); 
}
.accommodations-card {
    padding: 5px;
    height: 100%;
}
.accommodations img {
    object-fit: cover;
}
.accommodations .img-1, 
.accommodations .img-2, 
.accommodations .img-3 {
    width: 104%;
    margin-left: -2%;
    margin-top: -10%;
}
.accommodations .img-4 {
    width: 104%;
    margin-left: -4px;
    margin-top: -58px;
}
.accommodations .img-5 {
    width: 110%;
    margin-top: -7px;
    margin-left: -10px;
}
.accommodations .img-6 {
    width: 104%;
    margin-left: -4px;
    margin-top: -127px;
}
.accommodations > p {
    margin: 40px 0 0;
}
.accommodations-card figcaption {
    margin: 10px 5px 6px 10px;
}
.accommodations-card p {
    margin: 6px 10px;
}
.accommodations-image {
    width: 100%;
    height: 115px;
    overflow: hidden;  
    border-radius: 15px 15px 0px 0px;
}

/* aside */

aside {
    min-width: 290px;
    flex-basis: 28.05%;
    border-radius: 20px;
    padding: 0 40px;
}
.aside-content a {
    display: block;
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
.aside-content a:hover {
    margin: -5px 5px 5px -5px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.4);
}
aside img { 
    object-fit: cover;
}
aside .img-1 {
    width: 168%;
    margin-left: -43px;
    margin-top: -4px;
}
aside .img-2 {
    width: 150%;
    margin-left: -31px;
    margin-top: -4px;
}
aside .img-3 {
    width: 107%;
    margin-left: -5px;
    margin-top: -35px;
}
.aside-top {
    width: 100%;
    justify-content: space-between;
}
.aside-top p, .aside-top h2 {
    margin-top: 50px;
}

.aside-content {
    flex-direction: column;
    gap: 30px;
}
.aside-card {
    position: relative;
    height: 135px;
    padding: 5px; 
}
.aside-card figcaption, .aside-card p {
    margin-left: 147px;
}
.aside-card figcaption {
    margin-top: -122px;
    padding-right: 5px;
}
.aside-card p.price {
    margin-top: 10px;
    margin-bottom: 0;
}
.aside-card p.rate {
    position: absolute;
    bottom: 3px;
    margin-bottom: 10px;
}

.aside-card-image {
    width: 127px;
    height: 135px;
    line-height: 135px;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

/* activities section */

.activities {
    margin-top: 60px;
    padding: 0 50px 40px;
}
.activities figcaption {
    margin: 20px 20px 0;
    padding-bottom: 20px;
}
.activities a {
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
.activities a:hover {
    margin: -5px 5px 5px -5px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.4);
}
.activities img {
    object-fit: cover;
}
.activities-content {
    margin-top: 20px;
    gap: 40px;
    flex-wrap: wrap;
}
.activities-column {
    flex-basis: 20%;
    flex-grow: 1;
}
.superimposed-cards {
    flex-direction: column;
    gap: 40px;
    flex-basis: 20%;
    flex-grow: 1;
}
.col-2-top {
    flex-basis: 53%;
    flex-grow: 1;
}
.col-2-bottom {
    flex-basis: 37.5%;
    flex-grow: 1;
}
.activities-image {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.port-calanques {
    height: 390px;
}
.activities .img-1 {
    width: 225%;
    margin-left: -185px;
    margin-top: -5px;
}
.activities .img-4 {
    width: 222%;
    margin-left: -185px;
}
.pomegues {
    height: 180px;
}
.activities .img-2 {
    width: 101%;
    margin-top: -111px;
}
.frioul {
    height: 110px;
}
.activities .img-3 {
    width: 100%;
    margin-top: -18px;
}
.nd-la-garde {
    height: 140px;
}
.activities .img-5 {
    width: 100%;
}
.longchamp {
    height: 155px;
}
.activities .img-6 {
    width: 100%;
    margin-top: -8px;
}


/* footer */

footer {
    flex-wrap: nowrap;
}
footer div {
    width: 400px;
    margin-top: 40px;
    padding: 0 40px;
}
footer div:nth-child(3) {
    padding-bottom: 50px;
}
footer h3 {
    padding-bottom: 10px;
}
footer ul {
    padding: 0;
}
footer li {
    margin-top: 10px;
}