/* general */
body {
    font-family: "Raleway";
    flex-direction: column;
}
h2, h3 {
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}
.flex {
    display: flex;
}
/***    header    ***/
/* typography */
h1 {
    font-size: 22px;
}
#search-bar, 
#filter {
    font-size: 18px;
}
#search-bar > input, 
#filter,
button {
    font-weight: 700;
}
/* text and background color */
#filter i, 
#info i,
#nav-links a:hover {
    color: #0065fc;
}
button, 
#filter input:checked + label > span:nth-child(2) {
    color: white;
    background-color: #0065fc;
}
button:hover {
    background-color: #3283fc;
}
#filter label > span:first-child {
    background-color: #deebff;
}
#search-bar span, 
#filter label:hover > span:nth-child(2) {
    background-color: #f2f2f2;
}
/* border */
nav a {
    border-top: solid 5px transparent; 
}
nav a:hover {
    border-color: #0065fc;
}
button {
    border: none;
}
button#mobile {
    border-radius: 30px;
}
button#desktop {
    border-radius: 0px 20px 20px 0px;
}
#search-bar > input, 
#info i {
    border: solid 2px #f2f2f2;
}
#filter label > span:nth-child(2) {
    border: solid 2px #d8d8d8;
}
#search-bar span {
    border-radius: 20px 0px 0px 20px;
}
/* layout */
header {
    margin: 50px 0 0 50px;
    padding-left: 5px;
}
nav {
    justify-content: space-between;
}
#nav-links {
    margin-top: -50px;
    margin-right: 25px;
}
nav a {
    display: block;
    width: 160px;
    height: 60px;
    text-align: center;
    line-height: 105px;
}
#logo {
    margin: -8px 15px;
}
#logo img {
    width: 50%;
}
h1 {
    margin: 47px 40px 0 0;
}
h1 + p {
    margin-top: 8px;
    margin-left: 0;
}
#search-bar {
    margin-left: 0;
}
#search-bar span {
    display: inline-block;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    margin-top: -3px;
}
#search-bar > input {
    height: 46px;
    width: 220px;
    padding: 0px 0px 0px 15px;
    margin-left: -5px;
}
#search-bar input:focus {
    outline: none;
}
button#desktop {
    height: 50px;
    margin-left: -5px;
    padding: 0px 20px;
}
button#mobile {
    display: none;
    height: 100px;
    width: 100px;
}
button:hover {
    cursor: pointer;
}
#filter {
    margin: 30px 0 15px 10px;
}
#filter-legend {
    display: inline-block;
    margin: 0 20px 20px 0;
}
#filter-button {
    display: inline-block;
    margin: 0;
}
#filter input {
    position: absolute;
    opacity: 0;
}
#filter label {
    display: inline-block;
    margin: 0px 20px 20px 0;
}
#filter label:nth-child(8) {
    margin-right: 0;
}
#filter label:hover {
    cursor: pointer;
}
#filter label > span {
    display: inline-block;
    position: relative; 
    vertical-align: middle;
    border-radius: 32px;
}
#filter label > span:nth-child(2) {
    line-height: 48px;
    margin-left: -40px;
    padding: 0px 16px 0px 50px;
    z-index: 0;
}
#filter label > span:nth-child(2)::first-letter {
    text-transform: uppercase;
}
#filter label > span:first-child {
    width: 52px;
    line-height: 52px;
    text-align: center;
    z-index: 1;
}
#info i {
    width: 24px;
    margin-left: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    border-radius: 16px;
}
#info p {
    margin: -20px 40px 0;
}
/***    main    ***/
/* typography */
main h2 {
    font-size: 22px;
}
main h3 {
    font-size: 16px;
}
p.price {
    font-size: 14px;
}
p.rate {
    font-size: 12px;
    letter-spacing: -1px;
}
/* text and background color */
.star-on {
    color: #0065fc;
}
.star-off {
    color: #d9d9d9;
}
/* border */
.card {
    border-radius: 20px;
}
/* layout */
main {
    margin: 35px 50px 0;
}
#main-top {
    gap: 40px;
}
#main-top .content {
    gap: 30px;
}
#main-top .card {
    padding: 5px;
}
/**    accommodations section    **/
/* typography */
#accommodations h3,
#accommodations > p {
    font-weight: 700;
}
/* text and background color */
#accommodations > p a:hover {
    color: #0065fc;
}
#accommodations {
    background-color: #f2f2f2;
}
#accommodations .content a {
    background-color: white;
}
/* border */
#accommodations {
    border-radius: 20px;
}
#accommodations .content a {
    border-radius: 20px;
    
}
#accommodations img {
    border-radius: 15px 15px 0px 0px;
}
/* layout */
#accommodations {
    padding: 0 40px 40px;
    flex-basis: 66%;
}
#accommodations h2 {
    margin-top: 50px;
}
#accommodations .content {
    margin-top: 20px;
    flex-wrap: wrap;
}
#accommodations .content a {
    flex-basis: 30%;
    flex-grow: 1;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
#accommodations .content a:hover {
    margin: -5px 5px 5px -5px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.4);
}
#accommodations img {
    object-fit: cover;
    width: 100%;
    height: 115px;
}
#accommodations > p {
    margin: 40px 0 0;
}
#accommodations h3 {
    margin: 12px 5px 6px 10px;
}
#accommodations .card p {
    margin: 6px 10px;
}
/**    aside    **/
/* typography */
#aside-top p {
    font-size: 22px;
}
/* text and background color */
aside {
    background-color: #f2f2f2;
}
#aside-top a:hover {
    color: #0065fc;
}
aside .content a {
    background-color: white;
}
/* border */
aside {
    border-radius: 20px;
}
aside .content a {
    border-radius: 20px;
}
aside img {
    border-radius: 15px 0 0 15px;
}
/* layout */
aside {
    flex-basis: 28.05%;
    padding: 0 40px;
}
#aside-top {
    margin-top: 50px;
    justify-content: space-between;
}
#aside-top p {
    margin: 0;
}
aside .content {
    margin-top: 20px;
    flex-direction: column;
}
aside .content a {
    display: block;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
aside .content a:hover {
    margin: -5px 5px 5px -5px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.4);
}
aside img { 
    object-fit: cover;
    width: 127px;
    height: 100%;
}
aside .card {
    position: relative;
    height: 135px;
}
aside h3 {
    margin-top: -128px;
    padding-right: 5px;
}
aside h3, 
aside .card p {
    margin-left: 147px;
}
aside .price {
    margin-top: 6px;
    margin-bottom: 0;
}
aside .rate {
    position: absolute;
    bottom: 3px;
    margin-bottom: 5px;
}
/**    activities section    **/
/* border */
#activities a {
    border-radius: 20px;
}
/* layout */
#activities {
    margin-top: 60px;
    padding-bottom: 40px;
}
#activities h3 {
    margin: 20px 20px 0;
}
#activities a {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}
#activities a:hover {
    margin: -5px 5px 5px -5px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.4);
}
#activities img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
}
#activities .content {
    margin-top: 20px;
    gap: 40px;
    flex-wrap: wrap;
}
#activities .columnX4 {
    flex-basis: 20%;
    flex-grow: 1;
}
.rowX2 {
    flex-direction: column;
    justify-content: space-between;
}
#vieux-port,
#calanques {
    height: 390px;
}
#pomegues {
    height: 180px;
}
#frioul {
    height: 110px;
}
#nd-la-garde {
    height: 140px;
}
#longchamp {
    height: 155px;
}
/***    footer    ***/
/* text and background color */
footer a:hover {
    color: #0065fc;
}
footer {
    background-color: #f2f2f2;
}
/* layout */
footer {
    flex-wrap: nowrap;
    padding: 40px 0 40px 50px;
}
footer div {
    width: 500px;
    padding: 0;
}
footer h2 {
    padding-bottom: 10px;
}
footer h2 {
    font-size: 18px;
}
footer ul {
    padding: 0;
    margin: 0;
}
footer li {
    margin-top: 10px;
    list-style-type: none;
}
    /****    Media queries    ****/
    /***   Space reduction   ***/
@media all and (max-width: 1280px) {
    header {
        margin-left: 40px;
    }
    main {
        margin: 35px 40px 0;
    }
    #main-top {
        gap: 30px;
    }
    #main-top .content {
        gap: 20px;
    }
    #accommodations {
        padding: 0 30px 40px;
    }
    aside {
        padding: 0 30px;
    }
    footer {
        padding: 40px 0 40px 40px;
    } 
}
    /***    break line bug fixes    ***/
    /* "Parc National des Calanques" */
@media all and (max-width: 1240px) {
    #activities .columnX4:nth-child(3) {
        padding-bottom: 11px;
    }
    #activities .columnX4:nth-child(3) h3 {
        margin: 11px 20px 0;
    }
}
    /* "Au coeur de l'eau" */
@media all and (max-width: 1171px) {
    aside a:nth-child(2) h3 {
        margin-top: -133px;
        line-height: 17px;
    }
}
    /* "Auberge la Cannebiere" */
@media all and (max-width: 1167px) {
    #accommodations .card p.price {
        margin-top: 17px;
    }
    #accommodations a:nth-child(1) h3 {
        margin-top: 5px;
    }
    #accommodations a:nth-child(1) p.price {
        margin-top: 6px;
    }
}
    /* "Notre Dame de la Garde" */
@media all and (max-width: 1145px) {
    #activities .columnX4:nth-child(4) a:nth-child(1) {
        padding-bottom: 11px;
    }
    #activities .columnX4:nth-child(4) a:nth-child(1) h3 {
        margin: 11px 20px 0;
    }
}
    /* "Hotel les mouettes" */
@media all and (max-width: 1038px) {
    #accommodations a:nth-child(3) h3 {
        margin-top: 5px;
    }
    #accommodations a:nth-child(3) p.price {
        margin-top: 6px;
    }
}
    /* "Auberge Le Panier" */
@media all and (max-width: 1009px) {
    #accommodations a:nth-child(5) h3{
        margin-top: 5px;
    }
    #accommodations a:nth-child(5) p.price {
        margin-top: 6px;
    }
}
    /***   Tablet version   ***/
@media all and (max-width: 991px) {
    /* typography */
    h1, 
    main h2, 
    #aside-top  {
        font-size: 30px;
    }
    main h3, 
    h1 + p, 
    #accommodations > p {
        font-size: 22px;
    }
    p.price {
        font-size: 18px;
    }
    p.rate {
        font-size: 16px;
    }
    /* layout */
    #main-top {
        flex-direction: column;
        gap: 0;
    }
    #main-top .content {
        gap: 40px;
    }
    #main-top .card{
        padding: 10px;
    }
    aside {
        padding: 0 40px 40px;
        order: 1;
    }
    aside .card {
        height: 270px;
    }
    aside img {
        width: 254px;
    }
    aside a:nth-child(2) h3 {
        margin-top: -244px;
        line-height: 25px;
    }
    aside h3 {
        margin-top: -244px;
    }
    aside h3, 
    aside .card p {
        margin-left: 294px;
    }
    aside .rate {
        bottom: 8px;
    }
    #accommodations {
        margin-top: 60px;
        padding: 0 40px 40px;
        order: 2;
    }
    #accommodations .content a {
        flex-basis: 45%;
    }
    #accommodations img {
        height: 230px;
    }
    #accommodations .card p.price {
        margin-top: 6px;
    }
    #accommodations a:nth-child(1) h3, 
    #accommodations a:nth-child(3) h3,
    #accommodations a:nth-child(5) h3 {
        margin-top: 12px;
    }
    #accommodations a:nth-child(1) p.price, 
    #accommodations a:nth-child(3) p.price, 
    #accommodations a:nth-child(5) p.price{
        margin-top: 6px;
    }
    #activities .columnX4 {
        flex-basis: 40%;
    }
    #activities .columnX4:nth-child(3), 
    #activities .columnX4:nth-child(4) a:nth-child(1){
        padding-bottom: 20px;
    }
    #activities .columnX4:nth-child(3) h3, 
    #activities .columnX4:nth-child(4) a:nth-child(1) h3{
        margin: 20px 20px 0;
    }
    #filter label:nth-child(8) {
        margin-right: 30px;
    }
}
    /***    break line fixes    ***/
    /* "Parc National des Calanques" */
@media all and (max-width: 805px) {
    #activities .columnX4:nth-child(3) {
        padding-bottom: 10px;
    }
    #activities .columnX4:nth-child(3) h3 {
        margin: 6px 20px 0;
    }
}
    /***   mobile versions   ***/
    /**  high resolution  **/
@media all and (max-width: 767px) {
    /* typography */
    body, 
    #search-bar span, 
    #search-bar input, 
    button#mobile, 
    #filter, 
    h1 + p,
    main h3, 
    #accommodations > p {
        font-size: 32px;
    }
    h1, 
    main h2, 
    #aside-top  {
        font-size: 44px;
    }
    #filter-legend, 
    footer h2 {
        font-size: 36px;
    }
    p.price {
        font-size: 28px;
    }
    p.rate {
        font-size: 22px;
    }
    /* text and background color */
    #accommodations {
        background-color: white;
    }
    /* border */
    nav a {
        border-bottom: solid 5px #f2f2f2;
        border-top: none;
    }
    #search-bar span {
        border-radius: 30px 0px 0px 30px
    }
    #filter label > span {
        border-radius: 64px;
    }
    #filter label > span:nth-child(2) {
        border-width: 4px;
    }
    #info i {
        border-radius: 32px;
    }
    aside {
        border-radius: 0;
    }
    /* layout */
    header {
        margin: 60px 0 0 0;
        padding-left: 0;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    #logo {
        margin: 0;
    }
    #logo img {
        width: 191px;
        margin: -14px 0 -14px 71px;
    }
    #nav-links {
        margin-top: 80px;
        margin-right: 0;
        width: 100%;
    }
    nav a {
        width: 50%;
        line-height: normal;
    }
    h1 {
        margin: 70px 40px 0;
    }
    h1 + p {
        margin: 30px 40px 0;
    }
    #search-bar {
        display: flex;
        margin: 90px 40px 0;
    }
    #search-bar span {
        width: 100px;
        line-height: 100px;
        margin-top: 0;
    }
    #search-bar input {
        height: 96px;
        flex-grow: 1;
        margin-right: -20px;
        padding-right: 20px;
    }
    button#desktop {
        display: none;
    }
    button#mobile {
        display: inline-block;
    }
    #filter {
        margin: 70px 40px 40px;
    }
    #filter-legend {
        margin: 0 30px 40px 0;
    }
    #filter label {
        margin: 0 16px 30px 0;
    }
    #filter label > span:nth-child(2) {
        line-height: 94px;
        margin-left: -100px;
        padding: 0 32px 0 110px;
    }
    #filter label > span:first-child {
        width: 100px;
        line-height: 100px;
    }
    #info {
        margin: 0 40px;
    }
    #info i {
        width: 48px;
        line-height: 48px;
    }
    #info p {
        margin-top: -40px;
        margin-left: 70px;
    }
    main {
        margin: 75px 0 0;
    }   
    #aside-top {
        margin-top: 80px;
    }
    aside .content {
        margin-top: 50px;
    }
    aside a:nth-child(2) h3 {
        line-height: 35px;
    }
    #accommodations {
        margin-top: 80px;
        padding: 0 40px 10px;
    }
    #accommodations .content, 
    #activities .content, 
    footer {
        flex-direction: column;
    }
    #accommodations .content {
        margin-top: 40px;
    }
    #accommodations h2 {
        margin-top: 0;
    }
    #accommodations h3 {
        margin: 20px 5px 10px 15px;
    }
    #accommodations .card p {
        margin: 10px 15px;
    }
    #accommodations .card p.price {
        margin-top: 10px;
    }
    #accommodations a:nth-child(1) h3 {
        margin-top: 20px;
    }
    #accommodations a:nth-child(1) p.price {
        margin-top: 10px;
    }
    #accommodations > p {
        margin: 60px 0 0;
    }
    #activities {
        margin-top: 80px;
        padding: 0 40px 100px;
    }
    #activities .content {
        margin-top: 60px;
        gap: 40px;
    }
    #activities .columnX4:nth-child(3) {
        padding-bottom: 20px;
    }
    #activities .columnX4:nth-child(3) h3 {
        margin: 20px 20px 0;
    }
    .rowX2 {
        gap: 40px;
    }
    #activities h3 {
        margin: 40px 30px 20px;
    }
    #vieux-port, 
    #calanques, 
    #pomegues, 
    #frioul, 
    #nd-la-garde, 
    #longchamp {
        height: 270px;
    }
    footer {
        padding: 10px 0 100px 40px;
    }
    footer div {
        margin-top: 90px;
    }
    footer li {
        margin-top: 30px;
    } 
}
    /* "Au coeur de l'eau" */
@media all and (max-width: 637px) {
    aside a:nth-child(2) h3 {
        margin-top: -266px;
    }
}
    /* "Parc National des Calanques" */
@media all and (max-width: 580px) {
    #activities .columnX4:nth-child(3) {
        padding-bottom: 10px;
    }
    #activities .columnX4:nth-child(3) h3 {
        margin-top: 17px;
        margin-bottom: 18px;
    }
}
    /*  low resolution  */
@media all and (max-width: 549px) {
    /* typography */
    body,
    h1 + p,
    #filter-legend, 
    #accommodations > p {
        font-size: 24px;
    }
    h1, 
    main h2, 
    #aside-top  {
        font-size: 33px;
    }
    nav a, 
    main h3 {
        font-size: 22px;
    }
    #search-bar span {
        font-size: 18px;
    }
    #search-bar input {
        font-size: 23px;
    }
    button#mobile{
        font-size: 16px;
    }
    #filter {
        font-size: 20px;
    }
    p.price {
        font-size: 14px;
    }
    p.rate {
        font-size: 12px;
    }
    footer h2 {
        font-size: 27px;
    }
    footer li {
        font-size: 21px;
    }
    /* border */
    #search-bar span {
        border-radius: 20px 0px 0px 20px;
    }
    #filter label > span {
        border-radius: 32px;
    }
    button#mobile{
        border-radius: 20px;
    }
    #filter label > span:nth-child(2) {
        border-width: 2px;
    }
    #info i {
        border-radius: 24px;
    }
    /* layout */
    header {
        margin: 40px 0 0 0;
    }
    #nav-links {
        margin-top: 60px;
    }
    #logo img {
        width: 143px;
        margin: -14px 0 -14px 53px;
    }
    h1 {
        margin: 52px 30px 0;
    }
    h1 + p {
        margin: 20px 30px 0;
    }
    #search-bar {
        margin: 67px 30px 0;
    }
    #search-bar span {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    #search-bar input {
        height: 46px;
        min-width: 0;
        margin-right: -10px;
        padding-right: 10px;
    }
    button#mobile{
        height: 50px;
        width: 50px;
    }
    #filter {
        margin: 52px 30px 30px;
    }
    #filter label {
        margin: 0 20px 20px 0;
    }
    #filter label > span:nth-child(2) {
        line-height: 48px;
        margin-left: -40px;
        padding: 0 16px 0 50px;
    }
    #filter label > span:first-child {
        width: 52px;
        line-height: 52px;
    }
    #info {
        margin: 0 30px;
    }
    #info i {
        width: 36px;
        line-height: 36px;
    }
    #info p {
        margin-top: -30px;
        margin-left: 60px;
    }
    main {
        margin: 60px 0 0;
    }
    #main-top .content {
        gap: 30px;
    }
    #main-top .card {
        padding: 5px;
    }
    aside {
        padding: 0 30px 30px;
    }
    aside h3 {
        line-height: 20px;
    }
    #aside-top {
        margin-top: 60px;
        margin-bottom: 20px;
    }
    aside .content {
        margin-top: 20px;
    }
    aside img {
        width: 127px;
    }
    aside .card {
        height: 135px;
    }
    aside h3, 
    aside .card p {
        margin-left: 147px;
    }
    aside a:nth-child(2) h3 {
        margin-top: -128px;
        line-height: 20px;
    }
    aside h3 {
        margin-top: -128px;
    }
    aside .rate {
        bottom: 3px;
    }
    #accommodations {
        padding: 0 30px 10px;
        margin-top: 60px;
    }
    #accommodations .content {
        margin-top: 30px;
    }
    #accommodations h2 {
        margin-top: 0;
    }
    #accommodations h3 {
        margin: 12px 5px 6px 10px;
    }
    #accommodations .card p {
        margin: 6px 10px;
    }
    #accommodations .card p.price {
        margin-top: 6px;
    }
    #accommodations a:nth-child(1) h3 {
        margin-top: 12px;
    }
    #accommodations a:nth-child(1) p.price {
        margin-top: 6px;
    }
    #accommodations img {
        height: 115px;
    }
    #accommodations > p {
        margin: 40px 0 0;
    }
    #activities {
        margin-top: 60px;
        padding: 0 30px 80px;
    }
    #activities .content {
        margin-top: 30px;
        gap: 30px;
    }
    #activities .columnX4:nth-child(3) {
        padding-bottom: 20px;
    }
    #activities .columnX4:nth-child(3) h3 {
        margin: 20px 20px 0;
    }
    .rowX2 {
        gap: 30px;
    }
    #activities h3 {
        margin: 20px 20px 0;
    }
    #vieux-port, 
    #calanques, 
    #pomegues, 
    #frioul, 
    #nd-la-garde, 
    #longchamp {
        height: 135px;
    }    
    footer {
        padding: 0 0 100px 30px;
    }
    footer div {
        margin-top: 50px;
    }
    footer li {
        margin-top: 20px;
    }
}